.contact-post-text {
	padding: 5%;
	h2 {
		@include header-font;
	}
}
form.wpcf7-form {
	width: 90em;
	padding: 2% 5%;
	.wpcf7-form-control {
		width: 100%;
		padding: .5em;
		border-radius: 3px;
		background: $ltGrey;
		border: none;
	}
	.wpcf7-submit {
		width: 10em;
		@include title-font;
		font-size: 1.2em;
		&:hover,
		&:focus {
			background: $accent;
		}
	}
}