.menu-description {
	@include title-font;
	padding: 2% 5%;
}
.drink-list {
	display: flex;
	flex-wrap: wrap;
	.left-column,
	.middle-column,
	.right-column {
		width: 33%;
		padding: 5%;
	}
}
.fdm-item-panel {
	margin-bottom: 2em;
	.fdm-item-title {
		@include title-font;
	}
	.fdm-item-price {
		@include title-font;
	}
	.fdm-item-price {
		font-size: 1.5em;
	}	
}
