footer {
	background: $drkGrey;
	padding: 4em;
	border-top: 2px solid $wt;
	clear: both;
	p {
		text-align: right;
		font-size: 1em;
	}
	a {
		color: $ltGrey;
	}
	.textwidget {
		@include title-font;
		padding: 0 5%;
		text-align: left;
		background: $drkGrey;
	}
}
ul.cnss-social-icon {
	display: inline;
	list-style: none;
	display: flex;
	justify-content: flex-end;
}	