footer {
	background: $drkGrey;
	padding: 4em;
	p {
		text-align: right;
	}
	a {
		color: $ltGrey;
	}
}
ul.cnss-social-icon {
	display: inline;
	list-style: none;
	display: flex;
	justify-content: flex-end;
}	
.textwidget {
	list-style: none;
	font-size: 2em;
	margin-bottom: 2em;
}