.custom-hero-image {
	position: relative;
	height: 450px;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	padding: 10% 15%;

	//convenience styles for floating title on header image
	.site-title{
		@include title-font;
		font-size: 8em;
		font-weight: 400;
		letter-spacing: 0.2em;
	}
	//convenience styles for floating title on header image
	.site-description{
		@include title-font;
	}
	//end convenience styles for floating title on header image
}
.textwidget {
	padding: 10% 20%;
	list-style: none;
	font-size: 2em;
	letter-spacing: 2px;
	text-align: center;
	background: url(images/dark_wall.png);
}
.mainPost {
	padding: 4em 0;
	background-size: cover;
	.postText {
		background: $ltGrey;
		padding: 2em;
		width: 50%;
		color: #222;
		margin: 0 10%;
		h2 {
			@include bold-font;
		}
		p {
			font-family: 'Quattrocento', serif;
			font-size: 1.7em;
			letter-spacing: 0;
		}
	}
}


#sbi_images {
	display: flex;
}
#sbi_load {
	padding-top: 0;
}

