.custom-hero-image {
	position: relative;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;

	//convenience styles for floating title on header image
	.site-title{
		position: absolute;
		top: 50%;
		right: 50%;
	}
	//convenience styles for floating title on header image
	.site-description{
		position: absolute;
		top: 55%;
		right: 47%;
	}
	//end convenience styles for floating title on header image
}





.blank {
	background-color: $ltGrey;
	height: 10em;
}
.mainPost {
	padding: 4em 0;
	background-size: cover;
	.postText {
		background: $ltGrey;
		padding: 2em;
		width: 50%;
		color: $drkGrey;
		margin: 0 4em;
		h2 {
			text-transform: uppercase;
			font-size: 2em;
		}
		p {
			font-family: 'Quattrocento', serif;
			font-size: 1.7em;
			letter-spacing: 0;
		}
	}
}
