a {
	color: $ltGrey;
	text-decoration: none;
}
.main-nav-bar {
	background: $drkGrey;
	margin: 0;
}
.nav-logo {
	position: absolute;
	padding: 2em 7em;
	img {
		max-width: 150px;
		max-height: 50px;
	}
}
.navigation ul {
	display: flex;
	list-style: none;
	text-transform: uppercase;
	margin: 0;
	padding: 1.5em;
	font-size: 1.8em;
	justify-content: flex-end;
	border-bottom: 2px solid $wt;
}
.navigation li a {
	padding: 0.2em 0.7em;
	color: $wt;
	font-family: 'Oswald', sans-serif;
}