a {
	color: #F6F6F6;
	text-decoration: none;
}
.main-nav-bar {
	background: #222;
	margin: 0;
}
.nav-logo {
	position: absolute;
	padding: 2em;

	img {
		max-width: 150px;
		max-height: 50px;
	}

}
.navigation ul {
	display: flex;
	list-style: none;
	text-transform: uppercase;
	margin: 0;
	padding: 1.5em;
	font-size: 1.8em;
	justify-content: flex-end;
}
.navigation li a {
	padding: 0.2em 0.7em;
	color: #fff;
	font-family: 'Oswald', sans-serif;
}